<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <UILocale>JA</UILocale>
  <FFXIVLocale>JA</FFXIVLocale>
  <OverlayVisible>true</OverlayVisible>
  <ClickThroughEnabled>true</ClickThroughEnabled>
  <Opacity>10</Opacity>
  <HideWhenNotActive>true</HideWhenNotActive>
  <VisibleOverlayWithoutFFXIV>false</VisibleOverlayWithoutFFXIV>
  <LogPollSleepInterval>10</LogPollSleepInterval>
  <RefreshInterval>10</RefreshInterval>
  <MaxFPS>60</MaxFPS>
  <RenderCPUOnly>true</RenderCPUOnly>
  <PCNameInitialOnDisplayStyle>FullInitial</PCNameInitialOnDisplayStyle>
  <TextBlurRate>1.2</TextBlurRate>
  <TextOutlineThicknessRate>1</TextOutlineThicknessRate>
  <ReduceIconBrightness>55</ReduceIconBrightness>
  <ReadyText>Ready</ReadyText>
  <OverText>Over</OverText>
  <BarBackgroundFixed>false</BarBackgroundFixed>
  <BarBackgroundBrightness>0.3</BarBackgroundBrightness>
  <BarDefaultBackgroundColor>#F0000000</BarDefaultBackgroundColor>
  <TimeOfHideSpell>1</TimeOfHideSpell>
  <EnabledPartyMemberPlaceholder>true</EnabledPartyMemberPlaceholder>
  <EnabledSpellTimerNoDecimal>false</EnabledSpellTimerNoDecimal>
  <EnabledNotifyNormalSpellTimer>false</EnabledNotifyNormalSpellTimer>
  <NotifyNormalSpellTimerPrefix>spespe_</NotifyNormalSpellTimerPrefix>
  <SimpleRegex>true</SimpleRegex>
  <RemoveTooltipSymbols>true</RemoveTooltipSymbols>
  <IgnoreDetailLogs>false</IgnoreDetailLogs>
  <IgnoreDamageLogs>true</IgnoreDamageLogs>
  <IsAutoIgnoreLogs>false</IsAutoIgnoreLogs>
  <RemoveWorldName>true</RemoveWorldName>
  <DetectPacketDump>false</DetectPacketDump>
  <ResetOnWipeOut>true</ResetOnWipeOut>
  <WipeoutNotifyToACT>true</WipeoutNotifyToACT>
  <WaitingTimeToSyncTTS>100</WaitingTimeToSyncTTS>
  <LPSViewVisible>false</LPSViewVisible>
  <LPSViewX>0</LPSViewX>
  <LPSViewY>0</LPSViewY>
  <LPSViewScale>1</LPSViewScale>
  <POSViewVisible>false</POSViewVisible>
  <POSViewX>0</POSViewX>
  <POSViewY>0</POSViewY>
  <POSViewScale>1</POSViewScale>
  <POSViewVisibleDebugInfo>false</POSViewVisibleDebugInfo>
  <SaveLogEnabled>false</SaveLogEnabled>
  <SaveLogDirectory>D:\game\f14log</SaveLogDirectory>
  <TimelineDirectory />
  <IsMinimizeOnStart>false</IsMinimizeOnStart>
  <IsEnabledPolon>false</IsEnabledPolon>
  <TimelineTotalSecoundsFormat>false</TimelineTotalSecoundsFormat>
  <AutoCombatLogAnalyze>false</AutoCombatLogAnalyze>
  <AutoCombatLogSave>false</AutoCombatLogSave>
  <CombatLogSaveDirectory />
  <AutoSortEnabled>false</AutoSortEnabled>
  <AutoSortReverse>false</AutoSortReverse>
  <SingleTaskLogMatching>false</SingleTaskLogMatching>
  <DisableStartCondition>false</DisableStartCondition>
  <EnableMultiLineMaching>false</EnableMultiLineMaching>
  <BlinkBrightnessDark>0.3</BlinkBrightnessDark>
  <BlinkBrightnessLight>2.5</BlinkBrightnessLight>
  <BlinkPitch>0.5</BlinkPitch>
  <BlinkPeekHold>0.08</BlinkPeekHold>
  <ExpandedList />
  <LastUpdateDateTime>1GF2h28HiSORHVcRJ5sXFneoy2O62JO194FEdalnuZKnG+zWttT8ceCf4Ckek08m</LastUpdateDateTime>
</Settings>
