<?xml version="1.0" encoding="utf-8"?>
<ACT.UltraScouter.Settings>
  <LastUpdateDateTime>1GF2h28HiSORHVcRJ5sXFnmFpYCn0mxuhthXHTRxEP1fg2KpAhXQaXqC6EpKSd4s</LastUpdateDateTime>
  <UILocale>JA</UILocale>
  <FFXIVLocale>JA</FFXIVLocale>
  <IdleInterval>1</IdleInterval>
  <Opacity>1</Opacity>
  <ClickThrough>true</ClickThrough>
  <TextOutlineThicknessGain>1</TextOutlineThicknessGain>
  <TextBlurGain>1.2</TextBlurGain>
  <AnimationMaxFPS>60</AnimationMaxFPS>
  <ScanMemoryThreadPriority>Normal</ScanMemoryThreadPriority>
  <UIThreadPriority>Background</UIThreadPriority>
  <PollingRate>10</PollingRate>
  <OverlayRefreshRate>10</OverlayRefreshRate>
  <HPBarAnimationInterval>100</HPBarAnimationInterval>
  <ActionCounterFontSizeRatio>0.7</ActionCounterFontSizeRatio>
  <ActionCounterSingleFontSizeRatio>0.85</ActionCounterSingleFontSizeRatio>
  <ProgressBarDarkRatio>0.35</ProgressBarDarkRatio>
  <ProgressBarEffectRatio>1.2</ProgressBarEffectRatio>
  <HPVisible>true</HPVisible>
  <HPRateVisible>true</HPRateVisible>
  <UseNAudio>true</UseNAudio>
  <WaveVolume>100</WaveVolume>
  <TTSDevice>Normal</TTSDevice>
  <CircleBackOpacity>0.8</CircleBackOpacity>
  <CircleBlurRadius>14</CircleBlurRadius>
  <CircleBackBrightnessRate>0.3</CircleBackBrightnessRate>
  <TargetName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="22" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <Location X="1384" Y="370" />
    <Visible>true</Visible>
  </TargetName>
  <TargetHP>
    <TextLocation X="21" Y="585" />
    <BarLocation X="1364" Y="384" />
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="02UtsukushiMincho" Size="20" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <IsHPValueOnHPBar>true</IsHPValueOnHPBar>
    <IsHPValueCompact>false</IsHPValueCompact>
    <LinkFontColorToBarColor>false</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>28</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>482</Width>
    </ProgressBar>
    <Visible>true</Visible>
  </TargetHP>
  <TargetAction>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="24" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <Location X="1903" Y="354" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>50</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF00FF</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>30</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>266</Width>
    </ProgressBar>
    <Visible>true</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>true</CastingRemainVisible>
    <CastingRemainInInteger>false</CastingRemainInInteger>
    <CastingRateVisible>false</CastingRateVisible>
    <CastingTypeVisible>false</CastingTypeVisible>
    <CastingTypeScale>1</CastingTypeScale>
    <CastingTypeLocation X="8" Y="8" />
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <CircleBlurRadius>14</CircleBlurRadius>
  </TargetAction>
  <TargetDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="22" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <Location X="1633" Y="370" />
    <Visible>true</Visible>
  </TargetDistance>
  <UseHoverTarget>false</UseHoverTarget>
  <HoverLifeLimit>3</HoverLifeLimit>
  <Enmity>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF11132B</OutlineColor>
    </DisplayText>
    <Location X="2281" Y="119" />
    <Visible>true</Visible>
    <HideInNotCombat>true</HideInNotCombat>
    <HideInSolo>true</HideInSolo>
    <IsSelfDisplayYou>true</IsSelfDisplayYou>
    <IsDenomi>true</IsDenomi>
    <IsVisibleIcon>true</IsVisibleIcon>
    <IsIconRight>false</IsIconRight>
    <IsVisibleName>true</IsVisibleName>
    <IconScale>1</IconScale>
    <Scale>1</Scale>
    <BarWidth>250</BarWidth>
    <BarHeight>6</BarHeight>
    <BarVerticalAlignment>Center</BarVerticalAlignment>
    <BarHorizontalAlignment>Left</BarHorizontalAlignment>
    <ScaningRate>250</ScaningRate>
    <MaxCountOfDisplay>8</MaxCountOfDisplay>
    <Background>
      <A>0</A>
      <R>255</R>
      <G>255</G>
      <B>255</B>
      <ScA>0</ScA>
      <ScR>1</ScR>
      <ScG>1</ScG>
      <ScB>1</ScB>
    </Background>
    <IsDisplayDifference>true</IsDisplayDifference>
    <AlterTextMeValue>YOU</AlterTextMeValue>
    <IsNearIndicator>false</IsNearIndicator>
    <NearColor>
      <A>255</A>
      <R>230</R>
      <G>0</G>
      <B>51</B>
      <ScA>1</ScA>
      <ScR>0.791298</ScR>
      <ScG>0</ScG>
      <ScB>0.0331047662</ScB>
    </NearColor>
    <NearThresholdRate>5</NearThresholdRate>
    <IsVisibleNearThreshold>false</IsVisibleNearThreshold>
    <LogDirectory />
  </Enmity>
  <FFLogs>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="20" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF11132B</OutlineColor>
    </DisplayText>
    <Location X="673" Y="0" />
    <Visible>false</Visible>
    <VisibleHistogram>true</VisibleHistogram>
    <HideInCombat>true</HideInCombat>
    <Scale>1</Scale>
    <Background>
      <A>0</A>
      <R>255</R>
      <G>255</G>
      <B>255</B>
      <ScA>0</ScA>
      <ScR>1</ScR>
      <ScG>1</ScG>
      <ScB>1</ScB>
    </Background>
    <ServerRegion>JP</ServerRegion>
    <Partition>Current</Partition>
    <RefreshInterval>8</RefreshInterval>
    <FromCommandTTL>14</FromCommandTTL>
    <CategoryColors>
      <color id="A" fill="#e5cc80" stroke="#cc101010" />
      <color id="B" fill="#ff8000" stroke="#cc101010" />
      <color id="C" fill="#cc7eb1" stroke="#cc101010" />
      <color id="D" fill="#38a1db" stroke="#cc101010" />
      <color id="E" fill="#3eb370" stroke="#cc101010" />
      <color id="F" fill="#d3ccd6" stroke="#cc101010" />
    </CategoryColors>
  </FFLogs>
  <FTName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="22" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <Location X="1384" Y="145" />
    <Visible>true</Visible>
  </FTName>
  <FTHP>
    <TextLocation X="21" Y="585" />
    <BarLocation X="1364" Y="169" />
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="02UtsukushiMincho" Size="20" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <IsHPValueOnHPBar>true</IsHPValueOnHPBar>
    <IsHPValueCompact>false</IsHPValueCompact>
    <LinkFontColorToBarColor>false</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>28</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>482</Width>
    </ProgressBar>
    <Visible>true</Visible>
  </FTHP>
  <FTAction>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="24" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF6495ED</OutlineColor>
    </DisplayText>
    <Location X="1902" Y="138" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>50</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF00FF</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>30</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>266</Width>
    </ProgressBar>
    <Visible>true</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>true</CastingRemainVisible>
    <CastingRemainInInteger>false</CastingRemainInInteger>
    <CastingRateVisible>false</CastingRateVisible>
    <CastingTypeVisible>false</CastingTypeVisible>
    <CastingTypeScale>1</CastingTypeScale>
    <CastingTypeLocation X="8" Y="8" />
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <CircleBlurRadius>14</CircleBlurRadius>
  </FTAction>
  <FTDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="22" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="1633" Y="156" />
    <Visible>true</Visible>
  </FTDistance>
  <ToTName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </ToTName>
  <ToTHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="26" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <IsHPValueOnHPBar>false</IsHPValueOnHPBar>
    <IsHPValueCompact>false</IsHPValueCompact>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>false</Visible>
  </ToTHP>
  <ToTAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <CastingTypeVisible>false</CastingTypeVisible>
    <CastingTypeScale>1</CastingTypeScale>
    <CastingTypeLocation X="8" Y="8" />
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <CircleBlurRadius>14</CircleBlurRadius>
  </ToTAction>
  <ToTDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </ToTDistance>
  <BossName>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </BossName>
  <BossHP>
    <TextLocation X="0" Y="0" />
    <BarLocation X="0" Y="26" />
    <DisplayText>
      <Color>#FF1E90FF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFFFF</OutlineColor>
    </DisplayText>
    <HPBarVisible>true</HPBarVisible>
    <IsHPValueOnHPBar>false</IsHPValueOnHPBar>
    <IsHPValueCompact>false</IsHPValueCompact>
    <LinkFontColorToBarColor>true</LinkFontColorToBarColor>
    <LinkFontOutlineColorToBarColor>false</LinkFontOutlineColorToBarColor>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF0000</Color>
          <Max>10</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>20</Max>
          <Min>10</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>50</Max>
          <Min>20</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF20B2AA</Color>
          <Max>75</Max>
          <Min>50</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FF4169E1</Color>
          <Max>100</Max>
          <Min>75</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>500</Width>
    </ProgressBar>
    <Visible>false</Visible>
  </BossHP>
  <BossAction>
    <DisplayText>
      <Color>#FFFFD700</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFFACD</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>68</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF4500</Color>
          <Max>100</Max>
          <Min>68</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>10</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>300</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <CastingTypeVisible>false</CastingTypeVisible>
    <CastingTypeScale>1</CastingTypeScale>
    <CastingTypeLocation X="8" Y="8" />
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <CircleBlurRadius>14</CircleBlurRadius>
  </BossAction>
  <BossDistance>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FF1E90FF</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <Visible>false</Visible>
  </BossDistance>
  <BossHPThreshold>140</BossHPThreshold>
  <BossVSTargetHideBoss>true</BossVSTargetHideBoss>
  <BossVSFTHideBoss>true</BossVSFTHideBoss>
  <BossVSToTHideBoss>true</BossVSToTHideBoss>
  <MeAction>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFD700</OutlineColor>
    </DisplayText>
    <Location X="0" Y="0" />
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>74</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>100</Max>
          <Min>74</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>8</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>250</Width>
    </ProgressBar>
    <Visible>false</Visible>
    <CastingActionNameVisible>true</CastingActionNameVisible>
    <CastingRemainVisible>false</CastingRemainVisible>
    <CastingRemainInInteger>true</CastingRemainInInteger>
    <CastingRateVisible>true</CastingRateVisible>
    <CastingTypeVisible>false</CastingTypeVisible>
    <CastingTypeScale>1</CastingTypeScale>
    <CastingTypeLocation X="8" Y="8" />
    <WaveSoundEnabled>false</WaveSoundEnabled>
    <WaveFile />
    <TTSEnabled>false</TTSEnabled>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <CircleBlurRadius>14</CircleBlurRadius>
  </MeAction>
  <MPTicker>
    <Visible>false</Visible>
    <CounterVisible>true</CounterVisible>
    <TargetJobs>
      <JobAvailablity Job="GLA" Available="false" />
      <JobAvailablity Job="MRD" Available="false" />
      <JobAvailablity Job="PLD" Available="false" />
      <JobAvailablity Job="WAR" Available="false" />
      <JobAvailablity Job="DRK" Available="false" />
      <JobAvailablity Job="PUG" Available="false" />
      <JobAvailablity Job="LNC" Available="false" />
      <JobAvailablity Job="MNK" Available="false" />
      <JobAvailablity Job="DRG" Available="false" />
      <JobAvailablity Job="ROG" Available="false" />
      <JobAvailablity Job="NIN" Available="false" />
      <JobAvailablity Job="SAM" Available="false" />
      <JobAvailablity Job="ARC" Available="false" />
      <JobAvailablity Job="BRD" Available="false" />
      <JobAvailablity Job="MCH" Available="false" />
      <JobAvailablity Job="THM" Available="false" />
      <JobAvailablity Job="BLM" Available="false" />
      <JobAvailablity Job="ACN" Available="false" />
      <JobAvailablity Job="SMN" Available="false" />
      <JobAvailablity Job="RDM" Available="false" />
      <JobAvailablity Job="CNJ" Available="false" />
      <JobAvailablity Job="WHM" Available="false" />
      <JobAvailablity Job="SCH" Available="false" />
      <JobAvailablity Job="AST" Available="false" />
      <JobAvailablity Job="BLU" Available="false" />
      <JobAvailablity Job="GNB" Available="false" />
      <JobAvailablity Job="DNC" Available="false" />
    </TargetJobs>
    <ExplationTimeForDisplay>60</ExplationTimeForDisplay>
    <Location X="0" Y="0" />
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFD700</OutlineColor>
    </DisplayText>
    <ProgressBar>
      <ColorRange>
        <ProgressBarColorRange>
          <Color>#FFFF8C00</Color>
          <Max>3</Max>
          <Min>1</Min>
        </ProgressBarColorRange>
        <ProgressBarColorRange>
          <Color>#FFFFD700</Color>
          <Max>1</Max>
          <Min>0</Min>
        </ProgressBarColorRange>
      </ColorRange>
      <Height>8</Height>
      <LinkOutlineColor>true</LinkOutlineColor>
      <OutlineColor>#FF1E90FF</OutlineColor>
      <Width>100</Width>
    </ProgressBar>
    <UseCircle>false</UseCircle>
    <IsCircleReverse>false</IsCircleReverse>
    <SwapBarAndText>false</SwapBarAndText>
  </MPTicker>
  <MyMarker>
    <Visible>false</Visible>
    <HideInNotCombat>true</HideInNotCombat>
    <Location X="0" Y="0" />
    <Scale>1</Scale>
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Arial" Size="13" Stretch="Normal" Style="Normal" Weight="Bold" />
      <OutlineColor>#FFFFD700</OutlineColor>
    </DisplayText>
    <MarkerType>ArrowUp</MarkerType>
  </MyMarker>
  <MobList>
    <Visible>true</Visible>
    <Scale>1</Scale>
    <RefreshRateMin>300</RefreshRateMin>
    <VisibleZ>true</VisibleZ>
    <VisibleMe>true</VisibleMe>
    <UngroupSameNameMobs>false</UngroupSameNameMobs>
    <IsScanNPC>true</IsScanNPC>
    <DirectionOrigin>Me</DirectionOrigin>
    <DirectionAdjustmentAngle>0</DirectionAdjustmentAngle>
    <IsSimple>false</IsSimple>
    <DisplayCount>5</DisplayCount>
    <NearDistance>20</NearDistance>
    <TTSEnabled>false</TTSEnabled>
    <DumpCombatants>false</DumpCombatants>
    <Location X="1" Y="718" />
    <MeDisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="20" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF000080</OutlineColor>
    </MeDisplayText>
    <MobFont FontFamily="Franklin Gothic" Size="14" Stretch="Normal" Style="Normal" Weight="Normal" />
    <MobEXColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFFD700</OutlineColor>
    </MobEXColor>
    <MobSColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFFF8C00</OutlineColor>
    </MobSColor>
    <MobAColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF8FBC8F</OutlineColor>
    </MobAColor>
    <MobBColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF00BFFF</OutlineColor>
    </MobBColor>
    <MobOtherColor>
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
    </MobOtherColor>
  </MobList>
  <TacticalRadar>
    <Visible>true</Visible>
    <IsDebugMode>false</IsDebugMode>
    <Scale>1</Scale>
    <Location X="2264" Y="81" />
    <DisplayText>
      <Color>#FFFFFFFF</Color>
      <Font FontFamily="Franklin Gothic" Size="18" Stretch="Normal" Style="Normal" Weight="Normal" />
      <OutlineColor>#FF000080</OutlineColor>
    </DisplayText>
    <Background>
      <A>0</A>
      <R>255</R>
      <G>255</G>
      <B>255</B>
      <ScA>0</ScA>
      <ScR>1</ScR>
      <ScG>1</ScG>
      <ScB>1</ScB>
    </Background>
    <IsHorizontalOrientation>false</IsHorizontalOrientation>
    <DirectionOrigin>Me</DirectionOrigin>
    <TacticalItems />
  </TacticalRadar>
</ACT.UltraScouter.Settings>
